<article>
    <header>
        <h1>סידור</h1>
    </header>
    
    <section ng-repeat="item in items">
        <div>
            <button ng-click="item.$approve()">Approve</button>
        </div>
        <div>
            <label>
                <span>ID</span>
                <input type="text" ng-model="item.Id" required ng-minlength="10">
            </label>
        </div>
        <textarea ng-model="item.Content" required></textarea>
        <div>
            <button ng-click="item.$approve()">Approve</button>
        </div>
        <hr>
    </section>
</article>