<article when-scrolled="loadMore()">
    <header>
        <h1>סידור</h1>
    </header>
    Skip: {{skip}}
    <section ng-repeat="item in items">
        <div>
            <label>
                <span>ID</span>
                <input type="text" ng-model="item.Id" required ng-minlength="10">
            </label>
        </div>
        <p class="siddurParagraph" ng-model="item.Content" lang="he" contenteditable="false">{{item.Content}}</p>
    </section>
    
    <button class="btn btn-large btn-primary" ng-click="loadMore()">Load More</button>
</article>